.App-logo {
  height: 40px;
  pointer-events: none;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
}

ion-icon {
  color: #7249b9;
  font-size: 60px;
}

#addPhoto {
  font-size: 50px;
  color: #858f97;
}

#changePhoto {
  font-size: 50px;
  color: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
